.sidepanel {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: rgba(203, 244, 137, 0.9);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  z-index: 10;
  border: 2px solid rgb(5, 0, 1);
}

.sidepanel h3 {
  margin-top: 0;
}

.sidepanel img {
  max-width: 100%;
  border-radius: 1px;
  margin-bottom: 2px;
}

.sidepanel audio {
  width: 100%;
  margin-top: 3px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #c358ad;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #1d8ac0;
}

.slick-prev:before, .slick-next:before {
  color: black;
}

.slick-slider {
  margin-bottom: 1px;
  padding: 0;
}

.slick-slide {
  margin: 0;
  padding: 0;
}

.slick-dots {
  display: none;
}

.slick-prev, .slick-next {
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}
